<html ng-app="AppJAJS">
<head>
    <title>JAJS: Find Jobs</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    
    <!--    Style   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.css">
    <link rel="stylesheet"; href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>

<body ng-controller="bodyController" ng-cloak>
    <!-- Claim Page Cards -->
    <!--<section ng-controller="ClaimPageController" flex>
        <md-content ng-show="claimPages.page0A" class="md-padding mainSection" layout="row" flex>
            <md-card flex>
                <span class="md-headline extraPaddingVertical" layout="row" layout-align="center">Tell us about your <strong>&ensp;Institute&ensp;</strong></span>
                <md-button class="md-raised" ng-click="startTour()">Start Tour</md-button>
                <md-card-title>
                    <md-card-title-media class="extraPaddingHorizontal">
                        <div id="logo" class="md-media-md card-media">
                            <img src="http://www.iconsplace.com/download/black-nfc-logo-512.jpg">
                        </div>
                    </md-card-title-media>
                    <md-card-title-text>
                            <span class="md-subhead">Name</span>
                            <md-input-container id="instName">
                                <input ng-model="instituteName">
                            </md-input-container>
                            <span class="md-subhead">Description</span>
                            <md-input-container id="instDesc">
                                <input ng-model="instituteDescription">
                            </md-input-container>
                            <span class="md-subhead">Address</span>
                            <div id="instAdd">
                                <md-input-container>
                                    <label>Address Line 1</label>
                                    <input ng-model="instituteAddress1">
                                </md-input-container>
                                <md-input-container>
                                    <label>Address Line 2</label>
                                    <input ng-model="instituteAddress2">
                                </md-input-container>
                                <md-input-container>
                                    <label>Address Line 3</label>
                                    <input ng-model="instituteAddress3">
                                </md-input-container>
                            </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised" ng-click="gotoPage('next')">Next</md-button>
                </md-card-actions>
            </md-card>
        </md-content>
        
        <md-content ng-show="claimPages.page0B" class="md-padding mainSection" layout="row" flex>
            <md-card flex>
                <span class="md-headline extraPaddingVertical" layout="row" layout-align="center">Also about the<strong>&ensp;Exams&ensp;</strong>you teach for</span>
                <md-card-title>
                    <md-card-title-media class="extraPaddingHorizontal">
                        <div class="md-media-md card-media">
                            <img src="http://www.iconsplace.com/download/black-nfc-logo-512.jpg">
                        </div>
                    </md-card-title-media>
                    <md-card-title-text>
                            <span class="md-subhead">Name</span>
                            <md-input-container>
                                <input ng-model="instituteName">
                            </md-input-container>
                            <span class="md-subhead">Description</span>
                            <md-input-container>
                                <input ng-model="instituteDescription">
                            </md-input-container>
                            <span class="md-subhead">Address</span>
                            <md-input-container>
                                <label>Address Line 1</label>
                                <input ng-model="instituteAddress1">
                            </md-input-container>
                            <md-input-container>
                                <label>Address Line 2</label>
                                <input ng-model="instituteAddress2">
                            </md-input-container>
                            <md-input-container>
                                <label>Address Line 3</label>
                                <input ng-model="instituteAddress3">
                            </md-input-container>
                    </md-card-title-text>
                </md-card-title>
                <div>
                        Map 
                </div>
                <md-card-actions layout="row" layout-align="end">
                    <div layout="column">
                        <md-button class="md-raised" ng-click="gotoPage('previous')">Back</md-button>
                    </div>
                    <div layout="column">
                        <md-button class="md-raised" ng-click="gotoPage('next')">Next</md-button>
                    </div>
                </md-card-actions>
            </md-card>
        </md-content>
    </section>-->
    
    <h2>asdfasdfasdfsadfsfasdf</h2>
    
    <!-- Javascript Modules -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.min.js"></script>
    
    <!--     App Link   -->
    <script src="app.js"></script>
</body>
</html>